*.yml
__pycache__
.git
.log
.vscode
node_modules/
venv/
.venv/
*.pyc
*.pyo
*.pyd
*.log
*.ipynb_checkpoints/
*.ipynb
samples/*
output_*/
webapp/flask_session/
user_levels/
llm_logs/
model_weights_std/
