__pycache__
.vscode
samples/*.pt
output_*/
samples/.ipynb_checkpoints
*.log
flask_session
.DS_Store
static/.DS_Store
webapp/flask_session/
webapp/save.yml
samples/output/
samples/training_output_all/
samples/training_output_figher_only/
samples/model_weights_all/
scripts/model_weights_std/**/*
scripts/image_generators/*.png
user_levels/**/*
/*.yml
tests/fixtures/tmp/
scripts/runs
save_*.yml
last_save.txt
.env
