{% if 'dm' in role %}
  <div class="dm-controls">
    <div class="btn-group pull-right">
      <button id="add-more" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Add
      </button>
      <button id="next-turn" class="btn btn-primary btn-sm">
        Next Turn
      </button>
    </div>
  </div>
{% endif %}

{% for entity in battle.combat_order %}
  {% set is_current = entity == battle.current_turn() %}
  {% set is_dead = entity.dead() %}
  <div class="turn-order-item  row {% if is_current %}active{% endif %} {% if is_dead %}turn-order-dead{% endif %}" >
    {% if 'dm' in role %}
      <form class="form-inline">
        <div class="col-xs-2">
          <img src="{{ url_for('static', filename='assets/' ~ entity.token_image()) }}" class="token-image img-responsive" data-id="{{entity.entity_uid}}">
        </div>
        <div class="col-xs-3">
          <span class="entity-label">{{ entity.label() }}</span>
        </div>
        <div class="col-xs-3">
          {% set entity_group = battle.entities[entity].group %}
          <select class="group-select form-control">
            {% for group in ['a', 'b', 'c'] %}
              <option value="{{ group }}" {% if entity_group == group %}selected{% endif %}>Group {{ group.upper() }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-xs-2">
          <input class="initiative-input form-control" type="text" value="{{ battle.entities[entity].initiative }}" name="initiative[{{ loop.index }}]">
        </div>
        <div class="col-xs-2">
          <button class="remove-turn-order-item btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </form>
    {% else %}
      <div class="col-xs-2">
        <img src="{{ url_for('static', filename='assets/' ~ entity.token_image()) }}" class="token-image img-responsive">
      </div>
      <div class="col-xs-6">
        <span class="entity-label">{{ entity.label() }}</span>
      </div>
      <div class="col-xs-4">
        <span class="initiative-text">{{ battle.entities[entity].initiative }}</span>
      </div>
    {% endif %}
  </div>
{% endfor %}
