<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles.css?salt={{ salt }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/effects.js?salt={{ salt }}"></script>
    <script src="/utils.js?salt={{ salt }}"></script>
    <script src="/engine.js?salt={{ salt }}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style>
        .image-container {
          position: absolute;
          top: {{ tile_size_px }}px;
          left: {{ tile_size_px }}px;
          height: {{ background_height }}px;
        }
      
        .image-container img {
          width: {{ background_width }}px;
        }
    </style>
</head>
<body data-soundtrack-id="{{ soundtrack.name }}" data-soundtrack-url="{{soundtrack.file}}" data-battle_in_progress="{{ 'true' if battle else 'false' }}" 
      data-waiting-for-reaction="{{ 'true' if waiting_for_reaction else 'false' }}"
      data-username="{{ username }}" data-role="{{ role }}" data-controls="{{ entity_ids }}">
    <div id="reaction-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content actions-container">
                <div class="modal-body">
                    <form id="reaction-form"  method="post" action="/reaction" class="form-horizontal" role="form" style="margin-top: 20px;" data-remote="true">
                        <div class="reaction-content">
                            {% if waiting_for_reaction %}
                                {% include "reactions/" ~ waiting_for_reaction[1].reaction_type ~ ".html" %}
                            {% endif %}
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="floating-menu">
        <button id="expand-menu" class="menu-button">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <button id="collapse-menu" class="menu-button" style="display: none;">
            <span class="glyphicon glyphicon-menu-left"></span>
        </button>
        <div id="menu" style="display: none;">
            <ul>
                {% if 'dm' in role %}
                    <li id="select-soundtrack">Sound Manager</li>
                    <li id="start-battle" style="{{ 'display: none;' if battle}}">Start Battle</li>
                    <li id="end-battle" style="{{ 'display: none;' if not battle}}">End Battle</li>
                    <li id="switch-map" data-toggle="modal" data-target="#mapModal">Switch Map</li>
                    <li id="reload-map" data-toggle="modal" data-target="#reloadModal">Reload Map</li>
                {% endif %}
                <li id="open-console">Open Console</li>
                <li>
                    <form action="/logout" method="post">
                        <input type="submit" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    {% if 'dm' in role %}
    <div id="reloadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reloadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="reloadModelLabel">Reload Map</h4>
                </div>
                <div class="modal-body">
                    <form id="reload-map-form">
                        <button type="submit" class="btn btn-primary">Reload Map</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="mapModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="mapModalLabel">Select a Map</h4>
                </div>
                <div class="modal-body">
                    <form id="map-selection-form">
                        <div class="form-group">
                            <label for="map-select">Available Maps</label>
                            <select id="map-select" name="map" class="form-control">
                                {% for map in available_maps %}
                                    <option value="{{ map }}">{{ map }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Set Map</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div id="coords-box" style="position: fixed; top: 0; right: 0; background-color: white; padding: 10px; border: 1px solid black;"></div>
    <div id="main-map-area" style="background-color: {{ background_color }};">
        <div class="image-container" style="position: absolute; top: {{tile_size_px + top_offset_px}}px; left: {{tile_size_px + left_offset_px}}px; height: {{ background_height }}px; ">
            <img src="{{ background_path }}" style="overflow: scroll;  width: {{ background_width }}px; object-fit: cover; object-position: top;">
        </div>
        <div id="tiles-area" class="tiles-container actions-container" data-width="{{ background_width }}" data-height="{{ background_height }}" data-tile-size="{{tile_size_px}}" ></div>
    </div>
    <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content actions-container">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div id="battle-turn-order" class="floating-window" style="{{ 'display: none;' if battle is none }}">
        <div class="header" style="cursor: move;">Battle Turn Order</div>

        <div id="turn-order">
            {% if not battle %}
                <button id="start-initiative" class="btn btn-primary" style="margin-top: 20px;">Roll Initiative!</button>
                <!-- <button id="add-all-entities" class="btn btn-primary" style="margin-top: 20px;">Add Everyone in Map</button> -->
            {% endif %}
            {% if battle%}
                {% include 'battle.html' %}
            {% endif %}
        </div>
    </div>
    <div id="console-container" class="floating-window" style="display: none;">
        <div class="header" style="cursor: move; display: flex; justify-content: space-between; align-items: center;">
            <span>Combat Log</span>
            <div>
                <a href="/combat-log" target="_blank" style="text-decoration: none;">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </a>
                <button id="hide-combat-log" class="btn btn-default" style="margin-left: 5px;">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div id="console" class="console">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>

    {% if battle and controller_of(battle.current_turn().entity_uid, username) %}
        <div class="game-turn-container" style="pointer-events: none;">
        {% include 'turn.jinja' %}
        </div>
    {% else %}
        <div class="game-turn-container"></div>
    {% endif %}
    <span id="zoom-controls" class="btn-group">
        <button class="btn btn-default zoom-in">
            <span class="glyphicon glyphicon-zoom-in"></span>
        </button>
        <button class="btn btn-default zoom-out">
            <span class="glyphicon glyphicon-zoom-out"></span>
        </button>
    </span>
    <button id="toggle-portraits" class="btn btn-default portrait-button">Show/Hide Characters</button>
    <div id="floating-entity-portraits">
        {% for entity in pov_entities %}
        {% set index = loop.index0 %}
        <div class="floating-entity-portrait {{ 'dead' if entity.dead() else '' }}" onclick="switchPOV('{{ entity.entity_uid }}');" style="position: fixed; left: {{ 10 + index * 110 }}px; cursor: pointer; z-index: 1000;">
            <img src="{{ url_for('static', filename='assets/' ~ entity.profile_image()) }}" alt="{{ entity.name }}">
            <div>{{ entity.name }}</div>
            <div class="health-bar-portrait" style="width: 100px; background-color: red; height: 10px;">
                <div class="health-bar-fill-portrait" style="width: {{ entity.health_percent() }}%; background-color: green; height: 100%;"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
      (function() {
        const toggleButton = document.getElementById('toggle-portraits');
        const portraitsContainer = document.getElementById('floating-entity-portraits');
        toggleButton.addEventListener('click', function() {
          if (portraitsContainer.style.display === 'none') {
            portraitsContainer.style.display = 'block';
          } else {
            portraitsContainer.style.display = 'none';
          }
        });
      })();
    </script>
</body>
</html>
