{% for layer in tiles %}
  {% for row in layer %}
    <div style="display: flex;">
      {% for tile in row %}
        {% set tooltips = describe_terrain(tile) %}
        <div class="tile"
             data-light="{{ tile['light'] }}"
             data-tooltip="{{ tooltips }}"
             data-coords-x="{{ tile['x'] }}"
             data-coords-y="{{ tile['y'] }}"
             data-coords-id="{{ tile['id'] }}"
             data-conversation-languages="{{ tile['conversation_languages'] }}"
             data-darkvision="{{ tile['has_darkvision'] }}"
             data-darkvision-color="{{ tile.darkvision_color }}"
             style="top: {{ tile['y'] * tile_size_px + tile_size_px }}px;
                    left: {{ tile['x'] * tile_size_px + tile_size_px }}px;
                    width: {{ tile_size_px }}px;
                    height: {{ tile_size_px }}px;">

          {# --- Render objects on the tile --- #}
          {% if tile['objects'] %}
            {% for obj in tile['objects'] %}
              <div class="object-container"
                   data-id="{{ obj['id'] }}"
                   data-tooltip="{{ obj['name'] }}"
                   style="width: {{ tile_size_px }}px; height: {{ tile_size_px }}px;">
                {% if obj['image'] %}
                  <img class="object-image"
                       src="{{ url_for('static', filename='assets/' ~ obj['image']) }}"
                       data-tooltip="{{ tile['label'] }}" 
                       style="{{ obj['transforms'] }}; top: {{obj['token_offset_px'][0]}}px; left: {{obj['token_offset_px'][1]}}px;"/>
                {% endif %}
              </div>
              {% if obj['notes'] %}
                <button class="show-note-btn" onclick="Utils.showNoteModal(this)" 
                        data-name="{{ obj['name'] }}"
                        data-label="{{ obj['label'] }}"
                        style="top: {{obj['image_offset_px'][0]}}px; left: {{obj['image_offset_px'][1]}}px;">
                  <i class="glyphicon glyphicon-info-sign"></i>
                </button>
                <div class="note-content" style="display: none;">
                  {% for note in obj['notes'] %}
                    {% if note['image'] %}
                      <img class="note-image" src="{{ url_for('static', filename='assets/objects/' ~ note['image']) }}" >
                    {% endif %}
                    <p>{{ note['note'] }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {# --- Render ground items (with randomized positions) --- #}
          {% if tile['ground_items'] %}
            {% for item in tile['ground_items'] %}
              {% set random_x = random.randint(0, tile_size_px - (tile_size_px // 5)) %}
              {% set random_y = random.randint(0, tile_size_px - (tile_size_px // 5)) %}
              <div class="item-container"
                   data-id="{{ item }}"
                   data-tooltip="{{ item }}">
                <img class="item-image"
                     style="position: relative;
                            width: {{ tile_size_px // 5 }}px;
                            height: {{ tile_size_px // 5 }}px;
                            top: {{ random_x }}px;
                            left: {{ random_y }}px;"
                     src="{{ url_for('static', filename='assets/items/' ~ item) ~ '.png' }}"
                     data-tooltip="{{ tile['label'] }}" />
              </div>
            {% endfor %}
          {% endif %}
          
          {# --- Render fog of war if the tile is not in line of sight --- #}
          {% if not tile['line_of_sight'] %}
            <div class="fog-of-war" style="width: {{ tile_size_px }}px; height: {{ tile_size_px }}px;"></div>
          {% endif %}
          
          {# --- Brightness overlay --- #}
          <div class="brightness-overlay" style="opacity: {{ tile['opacity'] }};"></div>
          
          {# --- Render tile without an entity (static tile info) --- #}
          {% if tile['entity'] is undefined %}
            <div style="position: relative;">
              <div style="width: {{ tile_size_px }}px; height: {{ tile_size_px }}px;"></div>
              <div class="popover-menu" style="display: none;">
                <ul>
                  <li>Info</li>
                </ul>
              </div>
              <div class="floating-text-bar" style="background-color: white; color: black;">
                {{ tile.name }}
              </div>
            </div>
          
          {# --- Render entity on the tile --- #}
          {% else %}
          {% if tile.conversation_buffer and tile.conversation_buffer|length > 0 %}
          <div class="conversation-bubble">
            <div class="bubble-content">
              {{ tile.conversation_buffer[-1] }}
            </div>
            <div class="bubble-minimized" style="display: none;">
              <i class="glyphicon glyphicon-comment"></i>
            </div>
            <button class="close-bubble" onclick="Utils.dismissBubble(this.parentElement); event.stopPropagation();">×</button>
          </div>
        {% endif %}
          
          <div class="popover-menu" style="display: none;">
            <ul>
              <li>Info</li>
              <li data-item="move">Move</li>
            </ul>
          </div>

          <div class="popover-menu-2 execute-multi-target" style="display: none;">
            <ul>
              <li>
                <button class="execute-action"
                        data-action-type="SpellAction"
                        data-coords-x="{{ tile['x'] }}"
                        data-coords-y="{{ tile['y'] }}"
                        data-coords-id="{{ tile['id'] }}">
                  Confirm Targets and Cast
                </button>
              </li>
            </ul>
          </div>
          <button class="btn add-to-target button text-center"
            style="top: 7px; right: 0; display: none"
            data-id="{{ tile.id }}"
            data-name="{{ tile.name }}">
                <i class="glyphicon glyphicon-plus"></i>
          </button>
          {# --- Dialog bubble for dialog-capable entities --- #}
          {% if tile['dialog'] %}
            <div class="dialog-bubble hover-only" data-id="{{ tile.id }}" data-name="{{ tile.name }}">
              <i class="glyphicon glyphicon-comment"></i>
            </div>
          {% endif %}
          
            <div class="entity" data-id="{{ tile.id }}">
              {% set entity_size = tile.entity_size %}
              {% set multiplier = 1 %}
              {% if entity_size == 'large' %}
                {% set multiplier = 2 %}
              {% endif %}
              {% set image_size_px = tile_size_px * multiplier %}
              

              {% if tile['is_flying'] %}
              <div class="flying-entity-wrapper" style="transform: {{ transform_for(tile) }};">
                <img class="npc flying-entity"
                     src="{{ url_for('static', filename='assets/' ~ tile['entity']) }}"
                     style="width: {{ image_size_px }}px;
                            height: {{ image_size_px }}px;
                            opacity: {{ opacity_for(tile) }};
                            filter: {{ filter_for(tile) }};" />
              </div>
              {% else %}
              <img class="npc"
                   src="{{ url_for('static', filename='assets/' ~ tile['entity']) }}"
                   style="width: {{ image_size_px }}px;
                          height: {{ image_size_px }}px;
                          opacity: {{ opacity_for(tile) }};
                          filter: {{ filter_for(tile) }};
                          transform: {{ transform_for(tile) }};" />
              {% endif %}
              
              {% if is_setup and not tile.in_battle %}
                <button class="btn add-to-turn-order button text-center"
                        style="top: 7px; right: 0;"
                        data-id="{{ tile.id }}"
                        data-name="{{ tile.name }}">
                  <i class="glyphicon glyphicon-plus"></i>
                </button>
              {% endif %}
              
              <div class="effect">
                {% for effect in tile['effects'] %}
                  <img src="{{ url_for('static', filename='assets/effect/' ~ effect ~ '.png') }}"
                       class="effect-img"
                       alt="{{ effect }}"
                       data-tooltip="{{ effect }}">
                {% endfor %}
              </div>

              {% if tile['hp'] is defined and tile['hp'] is not none %}
                {% set health_width = (tile['hp'] / tile['max_hp']) * image_size_px %}
                {% set color = 'red' if (tile['hp'] / tile['max_hp']) < 0.2 else 'green' %}
                <div class="health-bar"
                     style="width: {{ health_width }}px; background-color: {{ color }};">
                </div>
              {% endif %}
              
              {% if tile['label'] %}
                <div class="nameplate">{{ tile['label'] }}</div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endfor %}

<div id="noteModal" class="custom-modal" style="display: none;">
  <div class="custom-modal-content">
    <div class="custom-modal-header">
      <h4 id="noteModalTitle">Notes</h4>
      <button class="custom-modal-close" onclick="Utils.closeNoteModal()">&times;</button>
    </div>
    <div class="custom-modal-body">
      <div id="noteModalContent"></div>
    </div>
    <div class="custom-modal-footer">
      <button class="custom-modal-btn" onclick="Utils.closeNoteModal()">Close</button>
    </div>
  </div>
</div>
