{% if battle.current_turn() %}
    {% set entity = battle.current_turn() %}
    
    {% if  controller_of(entity.entity_uid, username) %}
        <img class="current-turn-img" src="/assets/{{ entity.token_image() }}" style="max-width: 75px;">
        <button class="btn btn-primary" id="player-end-turn" style="pointer-events: auto">End Turn</button>
            <div class="indicator-container" >
        <div class="indicator action" style="background-color: blue;" title="Action" data-toggle="tooltip" data-placement="top">
            <span>{{ entity.total_actions(battle) }}</span>
        </div>
        <div class="indicator bonus-action" style="background-color: green;" title="Bonus Action" data-toggle="tooltip" data-placement="top">
            <span>{{ entity.total_bonus_actions(battle) }}</span>
        </div>
        <div class="indicator movement" style="background-color: teal;" title="Movement" data-toggle="tooltip" data-placement="top">
            <span>{{ entity.available_movement(battle) }}ft</span>
        </div>
        {% if entity.max_ki|default(0) %}
        <div class="indicator ki" style="background-color: #b07d00;" title="Ki Points" data-toggle="tooltip" data-placement="top">
            <span>{{ entity.ki_count or 0 }}/{{ entity.max_ki }} Ki</span>
        </div>
        {% endif %}
        {% if entity.rage_max|default(0) %}
        <div class="indicator rage" style="background-color: #c0392b;" title="Rage Uses{% if entity.is_raging() %} - RAGING ({{ entity.rage_rounds_remaining }} rd){% endif %}" data-toggle="tooltip" data-placement="top">
            <span>{{ entity.rage_count or 0 }}/{{ entity.rage_max }}{% if entity.is_raging() %} ⚔{% endif %}</span>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="current-turn-information" style="">
        <img class="current-turn-img" src="/assets/{{ entity.token_image() }}" style="max-width: 75px; margin-right: 10px;">
        <p class="lead" style="margin: 0;">Waiting for {{ entity.label() }}</p>
    </div>
    {% endif %}

{% endif %}
